<h1>Zapytaj</h1>
<hr />
<hr />

<!--
<%= render :partial => @posts %>
-->

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
  <td><B><%= post.title %></B></td>
  <td>|</td>
  <td><%= post.email %></td>
  <td>|</td>
  <td><%= link_to 'Pokaż', post %></td>
  </tr>
<% end %>
</table>
<br />
<% if user_signed_in? %>
<%= link_to 'Zadaj pytanie', new_post_path %>
<% end %>
