<%= link_to 'Wróć', posts_path %>
<!--<p id="notice"><%= notice %></p>-->
<hr />

<%= render :partial => @post %>

<%
post_owner = false
can_comment = false
if user_signed_in?
	can_comment = true
	if current_user.email == @post.email
		post_owner = true
	end
end
%>

<% if post_owner %>
<p>
  <button class="btn btn-warning" type="button">
  	<%= link_to 'Edytuj', edit_post_path(@post) %>
  </button>
  <button class="btn btn-danger" type="button">
  	<%= link_to 'Usuń', @post, :confirm => 'Czy jesteś pewien ???', :method => :delete %>
  </button>
</p>
	
<% end %>

<br />

<table class="table table-striped">
  <tr>
    <th>Opinie</th>
    <th></th>
    <th></th>
  </tr>
<% @post.comments.each do |comment| %>
  <tr>
  <td><FONT COLOR="green"><%= comment.body %></FONT></B></td>
  <td><FONT COLOR="blue"><%= comment.email %></FONT></td>
  <td>Posted <%= time_ago_in_words(comment.created_at) %> ago</td>
  </tr>
<% end %>
</table>

<% if can_comment %>
<%= form_for [@post, Comment.new] do |f| %>
<hr />
<p>
	<%= f.label :body, "Nowa opinia" %><br/>
	<%= f.text_area :body, :size => "25x5"%>
</p>
<p><%= f.submit "Dodaj opinie" %></p>
	<% end %>
<% end %>
