<%= link_to 'Wróć', posts_path %>
<p id="notice"><%= notice %></p>
<hr />

<%= render :partial => @post %>

<% can_blog = false
if user_signed_in? && (current_user.email == @post.email)
	can_blog = true
end
%>

<% if can_blog %>
<%= link_to 'Edytuj', edit_post_path(@post) %> |
<%= link_to 'Usuń', @post, :confirm => 'Czy jesteś pewien ???', :method => :delete %>
<% end %>

<hr />

<h2>Opinie</h2>
<hr />
<div id="comments">
	<%= render :partial => @post.comments %>
</div>

<% if can_blog %>
<%= form_for [@post, Comment.new] do |f| %>
<p>
	<%= f.label :body, "Nowa opinia" %><br/>
	<%= f.text_area :body %>
</p>
<p><%= f.submit "Dodaj opinie" %></p>
	<% end %>
<% end %>
